# Entorno virtual
venv/
.venv/
env/

# Caché de Python
__pycache__/
*.pyc

# Bases de datos locales
*.db
*.sqlite3

# Credenciales y variables de entorno
.env
.env.*

# Archivos de configuración del editor
.vscode/
.idea/

# Archivos temporales de sistema (Windows / Mac)
Thumbs.db
.DS_Store